* {
  padding: 0;
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
}

html,
body {
  font-size: 24px;
  font-weight: 100;
  background: #5A1EEC;
  width: 100%;
  height: 100%;
  color: #0AFFBA;
  overflow: hidden;
}

body .content {
  position: absolute !important;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translateX(-50%) translateY(-50%);
}

.random {
  max-width: 665px; 
  margin: auto;
  border: 2px solid;
  padding: 30px;
  font-size: 80px;
  font-kerning: none;
  backdrop-filter: opacity(0.3) brightness(0.1);
  /* filter: opacity(0.6) brightness(0.1); */
}

.random>span {
  display: inline-block;
}
